{% extends "warkah/index.html" %}

{% load static %}

	{% block title %} <title>Log In</title> {% endblock %}

		{% block style %}
		<style>
		html,
		body {
				height: 100%;
		}

		body {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				align-items: center;
				padding-top: 40px;
				padding-bottom: 40px;
		}
		</style>
		{% endblock style %}

		{% block content %}
		<!-- ============================================================== -->
		<!-- login page  -->
		<!-- ============================================================== -->
		<div class="splash-container">



	    {% block message %}
	        {% if messages %}
	            {% for message in messages %}
	        {% if message.tags == 'success' %}
	            <div class="alert alert-success" role="alert" id="success-alert">
	                    <p class="h6">{{ message }}</p>
	            </div>
	        {% elif message.tags == 'warning' %}
	            <div class="alert alert-warning" role="alert" id="warning-alert">
	                    <p class="h6">{{ message }}</p>
	            </div>
	        {% else %}
	            <div class="alert alert-danger" role="alert" id="danger-alert">
	                    <p class="h6">{{ message }}</p>
	            </div>
	        {% endif %}
	            {% endfor %}
	        {% endif %}
	    {% endblock message %}



				<div class="card ">
						<div class="card-header text-center"><a href="{% url 'index_mysite' %}"><h1 style="color:#5969ff">ATR/BPN</h1></a>
								<span class="splash-description">Isikan Username dan Password untuk masuk aplikasi.</span>
						</div>
						<div class="card-body">
								<form method="post">
										{% csrf_token %}
										<div class="form-group">
											<input class="form-control form-control-lg" name="username" id="username" type="text" placeholder="Username" required="" autofocus="">
										</div>
										<div class="form-group">
											<input class="form-control form-control-lg" name="password" id="password" type="password" placeholder="Password" required="">
										</div>
										<button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
								</form>
						</div>
						<div class="card-footer bg-white p-0  ">
								<div class="card-footer-item card-footer-item-bordered">
								<p>Belum punya akun? <a href="{% url 'daftar' %}" class="text-secondary">Daftar!</a></p>
						</div>
				</div>
		</div>
		<!-- ============================================================== -->
		<!-- end login page  -->
		<!-- ============================================================== -->
		{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
	
		$("#success-alert, #warning-alert, #danger-alert").fadeTo(2000, 500).slideUp(500, function() {
	      	$("#success-alert, #warning-alert, #danger-alert").slideUp(1500);
	    });

</script>
{% endblock scripts %}